body
{
	background-color: #953E46
}
#headtext
{font-weight: bold;
	position: center;

}
.class1
{
	background-color: none;
}
.headlist
{
	display: block;
	text-decoration: none;
	border-top: 1px solid #F5E3CF;
	border-bottom: 1px solid #F5E3CF;
padding: 2px;

}
a{
	color: white;
	font-size:70%;
	padding: 5px;
	margin-right: 5px;
}
.topnav {
    overflow: hidden;
    background-color: #F5E4CD;
    width:40%;
    height:15px;
    border: none;
    padding:1px;
    margin-bottom: 20px;
}
.imgclass
{
	width: 100%;
	height: 100%;
}
.imgclass1
{ padding: 5px;
	width:50%;
	height:50%;
}
.backgrnd
{
	background-color: white;
}
img.activity
{width: 30%;
	padding: 2px;
}
.bottomborder
{
	border-bottom: 1px solid #F5E3CF;
	display: block;
}
.videos
{
width: 100%;
padding:2px;
margin: 0.5px 0px 5px 0px;
	
}
.videos1
{
width: 100%;
padding:2px;	
}
.videos2
{
width: 110%;
padding-right: 2px;
margin-right: 10px;
}
.margins
{
	margin: 0px -11px 0px -11px;
}
.upload
{
	background-color:#F5E3CF;
	border: none;
	font-size: 70%;
}
input
{
	color: black;
}